In [100]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import confusion_matrix, classification_report

In [101]:
import zipfile


zip_path = '/Users/eduardoaleman/Desktop/Assignments/Final Project/predict+students+dropout+and+academic+success (1).zip'
extract_path = '/Users/eduardoaleman/Desktop/Assignments/Final Project/'

with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_path)

In [102]:
import pandas as pd

csv_path = '/Users/eduardoaleman/Desktop/Assignments/Final Project/data.csv'

# Import the data.csv file as a DataFrame
df = pd.read_csv(csv_path, encoding="utf-8",
                   sep = ';',
                   engine = 'python')

df.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [103]:
df = df[df['Target'] != 'Enrolled']
df.loc[df['Target'] == 'Graduate', 'Target'] = 1
df.loc[df['Target'] == 'Dropout', 'Target'] = 0

In [109]:
columns_to_delete = ['Application mode', 'Application order', 'Daytime/evening attendance\t', 'Previous qualification', 'Previous qualification (grade)', 'Debtor', 'Tuition fees up to date', 'International', 'Curricular units 1st sem (credited)', 'Curricular units 1st sem (enrolled)', 'Curricular units 1st sem (evaluations)', 'Curricular units 1st sem (approved)', 'Curricular units 1st sem (grade)', 'Curricular units 1st sem (without evaluations)', 'Curricular units 2nd sem (credited)', 'Curricular units 2nd sem (enrolled)', 'Curricular units 2nd sem (evaluations)', 'Curricular units 2nd sem (approved)', 'Curricular units 2nd sem (grade)', 'Curricular units 2nd sem (without evaluations)', 'Inflation rate', 'GDP']
df = df.drop(columns=columns_to_delete)

In [114]:
df.columns

Index(['Marital status', 'Course', 'Nacionality', 'Mother's qualification',
       'Father's qualification', 'Mother's occupation', 'Father's occupation',
       'Admission grade', 'Displaced', 'Educational special needs', 'Gender',
       'Scholarship holder', 'Age at enrollment', 'Unemployment rate',
       'Target'],
      dtype='object')

In [115]:
columns_to_convert = ['Marital status', 'Course', 'Nacionality', "Mother's qualification", "Father's qualification", "Mother's occupation", "Father's occupation", 'Displaced', 'Educational special needs', 'Gender', 'Scholarship holder', 'Age at enrollment', 'Unemployment rate', 'Target']

# Convert columns to integers
df[columns_to_convert] = df[columns_to_convert].astype(int)

In [116]:
Y = df['Target']
X = df.drop(columns=['Target'])

In [117]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=1)

In [119]:
from sklearn.linear_model import LogisticRegression

lrm = LogisticRegression(random_state=1, max_iter=1000)  
fit_lrm = lrm.fit(X_train, Y_train)

In [120]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

# Scale the features using StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)

lrm = LogisticRegression(random_state=1, max_iter=1000)
fit_lrm = lrm.fit(X_train_scaled, Y_train)

In [122]:
from sklearn.linear_model import LogisticRegression

lrm = LogisticRegression(random_state=1, max_iter=1000)
fit_lrm = lrm.fit(X_train.values, Y_train)

In [123]:
predictions = fit_lrm.predict(X_test.values)

In [124]:
matrix = confusion_matrix(Y_test, predictions)
print(matrix)

[[188 170]
 [103 447]]

In [125]:
report = classification_report(Y_test, predictions)
print(report)

              precision    recall  f1-score   support

           0       0.65      0.53      0.58       358
           1       0.72      0.81      0.77       550

    accuracy                           0.70       908
   macro avg       0.69      0.67      0.67       908
weighted avg       0.69      0.70      0.69       908