In [46]:
#Importing all dependancies

import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import confusion_matrix, classification_report
import zipfile

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegression

In [47]:
zip_path = '/Users/eduardoaleman/Desktop/Assignments/Final Project/predict+students+dropout+and+academic+success (1).zip'
extract_path = '/Users/eduardoaleman/Desktop/Assignments/Final Project/'

with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_path)

In [48]:
csv_path = '/Users/eduardoaleman/Desktop/Assignments/Final Project/data.csv'

df = pd.read_csv(csv_path, encoding="utf-8", sep = ';', engine = 'python')

df.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [34]:
df.columns

Index(['Marital status', 'Application mode', 'Application order', 'Course',
       'Daytime/evening attendance\t', 'Previous qualification',
       'Previous qualification (grade)', 'Nacionality',
       'Mother's qualification', 'Father's qualification',
       'Mother's occupation', 'Father's occupation', 'Admission grade',
       'Displaced', 'Educational special needs', 'Debtor',
       'Tuition fees up to date', 'Gender', 'Scholarship holder',
       'Age at enrollment', 'International',
       'Curricular units 1st sem (credited)',
       'Curricular units 1st sem (enrolled)',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (approved)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'Unemployment rate',
       'Inflation rate', 'GDP', 'Target'],
      dtype='object')

In [49]:
df = df[df['Target'] != 'Enrolled']
df.loc[df['Target'] == 'Graduate', 'Target'] = 1
df.loc[df['Target'] == 'Dropout', 'Target'] = 0

In [50]:
columns_to_delete = ['Application mode', 'Application order', 'Course',
                     'Daytime/evening attendance\t', 'Previous qualification',
                     'Nacionality',
                     "Mother's occupation", "Father's occupation",
                     'Displaced', 'Educational special needs', 'Debtor',
                     'Tuition fees up to date', 'Gender', 'Scholarship holder',
                     'Age at enrollment', 'International',
                     'Curricular units 1st sem (credited)',
                     'Curricular units 1st sem (enrolled)',
                     'Curricular units 1st sem (evaluations)',
                     'Curricular units 1st sem (approved)',
                     'Curricular units 1st sem (grade)',
                     'Curricular units 1st sem (without evaluations)',
                     'Curricular units 2nd sem (credited)',
                     'Curricular units 2nd sem (enrolled)',
                     'Curricular units 2nd sem (evaluations)',
                     'Curricular units 2nd sem (approved)',
                     'Curricular units 2nd sem (grade)',
                     'Curricular units 2nd sem (without evaluations)']
                     
df = df.drop(columns=columns_to_delete)

In [51]:
df.columns

Index(['Marital status', 'Previous qualification (grade)',
       'Mother's qualification', 'Father's qualification', 'Admission grade',
       'Unemployment rate', 'Inflation rate', 'GDP', 'Target'],
      dtype='object')

In [52]:
#Converted varibaels into integers in order to run my analysis

columns_to_convert = ['Previous qualification (grade)', 'Admission grade',
       'Unemployment rate', 'Inflation rate', 'GDP', 'Target',"Mother's qualification", "Father's qualification", 'Marital status']

df[columns_to_convert] = df[columns_to_convert].astype(int)

In [39]:
#Splitting the varible in order to run machine learning by setting Y into the dependent varibale and using the others as independent variable

Y = df['Target']
X = df.drop(columns=['Target'])

In [40]:
#In this step we are testing the variables

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=1)

In [41]:
# Create a Logistic Regression model with specified random state and maximum iterations
lrm = LogisticRegression(random_state=1, max_iter=1000)

# Create an instance of the StandardScaler to standardize the features
scaler = StandardScaler()

# Apply the scaler to transform the training data into standardized values
X_train_scaled = scaler.fit_transform(X_train)

# Fit (train) the Logistic Regression model using the original, unscaled training features and target values
fit_lrm = lrm.fit(X_train.values, Y_train)

In [42]:
predictions = fit_lrm.predict(X_test.values)

In [43]:
matrix = confusion_matrix(Y_test, predictions)
print(matrix)

[[ 42 316]
 [ 25 525]]

In [44]:
from sklearn.metrics import confusion_matrix

# Assuming 'predictions' is your model's predictions on the test data
matrix = confusion_matrix(Y_test, predictions)

# Print the confusion matrix with labels for better interpretation
print("Confusion Matrix:")
print("\t\tActual")
print("\t\t0\t1")
print(f"Predicted 0\t{matrix[0][0]}\t{matrix[0][1]}")
print(f"          1\t{matrix[1][0]}\t{matrix[1][1]}")

Confusion Matrix:
		Actual
		0	1
Predicted 0	42	316
          1	25	525

In [45]:
report = classification_report(Y_test, predictions)
print(report)

              precision    recall  f1-score   support

           0       0.63      0.12      0.20       358
           1       0.62      0.95      0.75       550

    accuracy                           0.62       908
   macro avg       0.63      0.54      0.48       908
weighted avg       0.63      0.62      0.54       908